<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href='img/weather.png'>
    <link rel = "stylesheet" href = "/css/style.css">

</head>

<body>

    {{>header}}
    <div class ="main-content">
        
        <p>{{error}}</p>
    </div>

{{>footer}}
</body>


</html>