<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>

<link rel="icon" href='img/me.jpg'>
    <link rel = "stylesheet" href = "/css/stylemine.css">
    
</head>

<body>
    {{>header}}
        <div>
        <h1 class = "about-title"> Introduction</h1>
            <p class = "about-page">Hello, my name is Stanley Chen and I grew up in Toronto, Ontario. 
                I am currently studying Honours Computer Science at Western University with 
                hopes of doing a minor in game development. This website is my portfolio that 
                I have created using HTML, CSS, javascript and Node.js with Express (Weather App), to display
                 my passion for programming and the progress of my journey. As a kid, I always 
                 knew that Computer Science was going to be my strongest suit. Ever since I built 
                 my own beefy computer  (GTX 980ti, i7-4790k, 16gb ddr3, 1tb Samsung SSD), I have 
                 loved and enjoyed working with technology. Building all myself, I came across many 
                 issues during the process—and this process of solving problems has led me to recognize 
                 my passion for programming. I have always been curious about the possibilities of 
                 technology and would love to be at the forefront of recognizing the advancement and 
                 developing capabilities of technology in the future. Having attended many hackathons 
                 (Hack the Barriers, Western Hacks), I have met many others with the same passion as me 
                 and I wish to work in an environment of technologically curious and driven individuals.
            </p>



            <img class='about-portrait' src = "img/me.jpg">
            <img class = "toronto-banner" src = "img/toronto_night.jpg">
        </div>
{{>footer}}
</body>


</html>