<!DOCTYPE html>

<html>
<head>
        <title>About</title>

<link rel="icon" href='/weather.png'>
    <link rel = "stylesheet" href = "/css/style.css">
    
</head>

<body>
<div class ="main-content">
        {{>header}}
        <p>This site was created by Stanley Chen. It uses data from mapbox.com and darkskies api.</p>
            <img class='portrait' src = "/me.jpg">

    </div>


{{>footer}}
</body>


</html>