<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
    <link rel="icon" href='img/weather.png'>
    <link rel = "stylesheet" href = "/css/style.css">
</head>

<body>
    {{>header}}
    <div class ="main-content">
    
        <div class = "Contact-info">
            <img class='portrait' src = "img/me.jpg">
            <h1>Contact info</h1>
            <p>Phone number: (647) - 677 - 3796</p>
            <p>Email: stanley.chen021@gmail.com</p>
        </div>
    </div>

    
    
{{>footer}}
</body>


</html>