<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link rel = "stylesheet" href = "/css/style.css">
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="portfolio-title">Ontario Provincial Championship (2019)</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="img/vex1.jpg" class="img-fluid" alt="">

            </div>
          </div>
          
          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Robotics Competition </li>
              <li><strong>Client</strong>: VEX Robotics</li>
              <li><strong>Project date</strong>: 2019</li>
              <li><strong>Project URL</strong>: <a href="#">N/A</a></li>
            </ul>

            <p>
              Attended the Vex Robotics Competition with the York Mills Collegiate Institute Robotics team at St. Catherine for the Ontario Provincial Championships (2019). I was one of the members of the drive team that had the purpose of determining the flaws and places that needed improvement during the matches. We had two robots with the desire to become finalists but, due to our low budget our robot was unable to beat the ones that had well funding. Although we were not in the finals, a lot of teamwork and communication was involved making it a better experience.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
<!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>


</body>

</html>