<!DOCTYPE html>

<html>
<head>   
     <title>Stanley chen</title>
    <link rel="icon" href='img/weather.png'>
    <link rel = "stylesheet" href = "/css/style.css">
    

</head>

<body>
    {{>header}}
    <div class ="main-content-index">
        <h1>Creating games with python and processing</h1>
        <p>First game (snake) </p>
        <div class = "slidershow middle">
            <div class="slides">
                <input type = "radio" name = "r" id = "r1" checked>
                <input type = "radio" name = "r" id = "r2" >
                <input type = "radio" name = "r" id = "r3">
                <div class= "slide s1"><img src= "img/1.jpg" class = "slider-image"></div>
                <div class= "slide"><img src= "img/2.jpg" class = "slider-image"></div>
                <div class= "slide"><img src= "img/3.jpg" class = "slider-image"></div>
            </div>
            <div class = "navigation">
                <label for ="r1" class = "bar"></label>
                <label for ="r2" class = "bar"></label>
                <label for ="r3" class = "bar"></label>
            </div>
    </div>
        <p>Most recent game created (Chess)</p>
        <div class = "slidershow middle">
            <div class="slides">
                <input type = "radio" name = "r" id = "r4" checked>
                <input type = "radio" name = "r" id = "r5" >
                <input type = "radio" name = "r" id = "r6">
                <div class= "slide s2"><img src= "img/4.jpg" class = "slider-image"></div>
                <div class= "slide"><img src= "img/5.jpg" class = "slider-image"></div>
                <div class= "slide"><img src= "img/6.jpg" class = "slider-image"></div>
            </div>
            <div class = "navigation">
                <label for ="r4" class = "bar"></label>
                <label for ="r5" class = "bar"></label>
                <label for ="r6" class = "bar"></label>
            </div>
    </div>
    {{!-- Tensorflow part for personal projects --}}
    <div>
        <h1>Personal Projects</h1>
        <h4>Using AI to learn how to solve certain types of captchas with sample data with labeling and self learning with test cases.</h4>
        <p>Project inspiration: I used to play an mmo called Maplestory and my friend recently started playing it and asked me if I could create a program to solve captchas and with throughout research I created this program.</p>
        <img src = 'img/captcha.jpg'><img src = 'img/full captcha.jpg' class= "right-captcha">
    </div>
    
    

{{>footer}}
<script src = "/js/app.js">  </script>
</body>


</html>