<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stanley Chen</title>
        <link rel="icon" href='img/me.jpg'>
        <link rel = "stylesheet" href = "/css/style.css">
        <link rel = "stylesheet" href = "/css/stylemine.css">
    </head>

<body>
    {{>header}}

  <div class = "block">
        
            <p class = "about-page top" >Hello, my name is Stanley Chen and I grew up in Toronto, Ontario. </p>
            
            <p class = "about-page">I am currently studying Honours Computer Science at Western University. I created this website portfolio using HTML, CSS, javascript and Node.js with Express (Weather App), to display my passion for programming. </p>

            <p class = "about-page">Ever since I built my own upgraded computer as a kid, I have loved and enjoyed working with technology. From building the computer all by myself, I came across many issues during the process—and this problem solving process has led me to my passion for technology. I have always been curious about the possibilities of technology and would love to be at the forefront of developing capabilities for the future. </p>

            <p class = "about-page">Having attended many hackathons (Hack the Barriers, Western Hacks), it motivates me to meet minded individuals who are technologically curious and driven and to work in an innovative industry.</p>
            <img class='about-portrait' src = "img/me.jpg">
            
            
            <img class = "toronto-banner" src = "img/toronto_night.jpg">
        </div>
    {{>footer}}

</body>

</html>