<!DOCTYPE html>
<html>
    <head>   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <link rel="icon" href='img/me.jpg'>
        <link rel = "stylesheet" href = "/css/style.css">


    </head>

<body>
    {{>header}}

    <main id ="main">
        <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
          <p>These are the projects that I have ever worked on and created throughout my journey.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Personal</li>
              <li data-filter=".filter-card">School</li>
              <li data-filter=".filter-web">Work</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        {{!-- Personal Related Work --}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/full_captcha.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Captcha Solver</h4>
                <p>Tensorflow / Artificial Intelligence</p>
                <div class="portfolio-links">
                  <a href="img/full_captcha.jpg" data-gall="portfolioGallery" class="venobox" title="Captcha"><i class="bx bx-plus"></i></a>
                  <a href="/details_captcha" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Captcha Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        {{!-- school related work --}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Most recent game created (Chess)</h4>
                <p>Final Summative</p>
                <div class="portfolio-links">
                  <a href="img/5.jpg" data-gall="portfolioGallery" class="venobox" title="Chess"><i class="bx bx-plus"></i></a>
                  <a href="/details_chess" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Chess Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/vex1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Robotics Competition</h4>
                <p>VEX Robotics, Ontario Provincial Championship (2019)</p>
                <div class="portfolio-links">
                  <a href="img/vex1.jpg" data-gall="portfolioGallery" class="venobox" title="Robotics"><i class="bx bx-plus"></i></a>
                  <a href="/details_robotics" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Robotics Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>First game created (Snake)</h4>
                <p>Final Summative</p>
                <div class="portfolio-links">
                  <a href="img/2.jpg" data-gall="portfolioGallery" class="venobox" title="Snake"><i class="bx bx-plus"></i></a>
                  <a href="/details_snake" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Snake Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

            {{!-- Work Related projects --}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Work</h4>
                <p>Work</p>
                <div class="portfolio-links">
                  <a href="" data-gall="portfolioGallery" class="venobox" title="N/A"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="____ Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->
</main>
{{>footer}}

</body>


</html>