<!DOCTYPE html>

<html>
<head>
        <title>Social Media</title>

    <link rel="icon" href='img/weather.png'>
    <link rel = "stylesheet" href = "/css/style.css">
    

</head>

<body>
    {{>header}}
    
    <div class = 'main-content'>

    
        <p class = "socials_page">{{message}}</p><a href= "https://github.com/stanley021"><img src = "/img/github.png" class = "socials_page"></a>
        <p class= "socials_page">{{message2}}</p><a href= "https://www.linkedin.com/in/stanley-chen-240b1b172"><img src = "/img/linkedin.png" class = "socials_page"></a>
    </div>
    
{{>footer}}
</body>


</html>