<!DOCTYPE html>
<html>
<head>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Weather</title>
    <link rel="icon" href='img/me.jpg'>
    <link rel = "stylesheet" href = "/css/stylemine.css">
</head>
<body>
    {{>header}}
    <div class ="main-content">
        <p>This application can determine the live weather of the location given to it.</p> 
        <p>Please do not abuse it as I only have a free account</p>
        <form>
            <input placeholder="Location">
            <button>
                Search
            </button>
        </form>
        <p id = "mesage-1">        </p>
        <p id = "message-2">        </p>
        <p class = "Bottom_weather">If you are curious about this Weather Application, it uses data from an API called Mapbox.com and Darkskies to search the realtime weather of the location you desire. This was made to represent my knowledge in (javascript + nodeJS + Express + handlebars) for application development. My next project is to create a chat server with a MongoDB database that includes logging in and signing up with PHP forms for support inquiries.</p>
    </div>



{{>footer}}
<script src = "/js/app.js">  </script>
</body>
</html>