<footer>


<ul class = "nav">
    <p class="title-footer">Created from Scratch by Stanley Chen</p>
    <li><a href="/">Stanley Chen</a></li>
    <li><a href = '/projects'> Projects </a></li>
    <li><a href = "/About">About Me</a></li>
    <li><a href = "/socialmedia"> Social Media </a></li>
    <li><a href = '/contactInfo'> Contact </a></li>
    <li><a href= "/weatherapp">Weather application</a></li>
    </ul>
</footer>
