<header>
    <ul class = "nav">
    <h1 class="title">{{title}}</h1>
    <li><a href="/">Home</a></li>
    <li><a href= "/weatherapp">Weather application</a></li>
    <li><a href = "/About">About Me</a></li>
    <li><a href = "/socialmedia"> Social Media </a></li>
    <li><a href = '/contactInfo'> Contact </a></li>
    </ul>
    <div class = "banner">
    <img class= "banner-image" src = "img/banner.jpg">
   </div>
</header>



